*.dcu
*.tvsconfig
*.identcache
*.dproj.local
*.groupproj.local
__history/
Examples/*/*.exe
Examples/EasingSuite/EasingSuite.dres
Examples/EasingSuite/EasingSuiteResource.rc
Examples/SlidingButtonsFMX/Android/
*.res
Examples/SlidingButtonsFMX/OSX32/
Examples/AnimatedAlignFMX/Android/
Examples/AnimatedAlignFMX/OSX32/
*.res
DevResources
